/*
============================================
; Title: Assignment 4.2 - Calorie App - baugh-calorie.css
; Author: Professor Krasso & Ace Baugh
; Date: 08/31/2022
; Modified By: Ace Baugh
; Description: WEB 330 Calorie App
============================================
*/

/* Style for hel;per text */
#foodList {
   float: right;
   font-size: 12px;
   color: #df546a;
   letter-spacing: 2px;
}