/* 
============================================
; Title: Assignment 6.2 - Future Value App - baugh-future-value.css
; Author: Professor Krasso & Ace Baugh
; Date: 09/13/2022
; Modified By: Ace Baugh
; Description: WEB 330 Future Value App
============================================
*/

.danger {
   float: right;
   color: #df546a;
   font-size: 12px;
   letter-spacing: 2px;
}

.form-label {
   display: inline-block;
   padding-top: 1rem;
}